@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply min-h-screen antialiased transition-colors;
}

/* jasny */
:root {
  --bg: #f7f5f1;
  --text: #1c1c1c;
  --accent: #c6a76f;
}

/* ciemny */
.dark {
  --bg: #1b1c1e;
  --text: #f0ede9;
  --accent: #c6a76f;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
